
* {
	box-sizing: border-box;
}

#container {
    background-color: #770022;
}

#main  {
	
    padding: 20px;
	margin: 10px;
}

.color {
    background-color: #CCCCCC;
}

.clear {
	clear: both;
}

label {
	display: block;
	margin : 5px;
	font-size: 17px;
}

p {
	margin-left :5px;
}
	

textarea {


	margin-left: 5px;
	margin-bottom: 5px;
	margin-top:10px;
}

#textlength {
	width:100px;
	margin-left: 20px;
}

#spacja {
	width:100px;
	margin-left: 110px;
}

.inline {
	display: inline;
}


.boxleft {
	float: left;
}

#boxright {
	width: 240px;
	height: 170px;
	float: left;
}

#buttonbox{
	float: left;
	margin: 10px;
	margin-right: 45px;
	width: 320px;
	height:50px;
}

.right {
	float: right;
}

.button {
	width: 130px;
	height: 30px;
	margin-bottom: 20px;
	border: solid 1px #770022;
	border-radius: 3px;
	margin-right: 10px;
	
}

#signs {
	visibility: hidden;
}

.border-brown{
    border: solid 1px #770022;
	border-radius: 3px;
}

#error {
	height :20px;
}

.error{
    color: red;
    font-size : 11px;
}

span {
	margin-left: 10px;
}